<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630781823136-c507064j8rl5b0egsorehcsjko1sa0v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630781823136-c507064j8rl5b0egsorehcsjko1sa0v9</string>
	<key>API_KEY</key>
	<string>AIzaSyDcDscefrwaMfIGg9NIoldBNWb8WF_I_i0</string>
	<key>GCM_SENDER_ID</key>
	<string>630781823136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melavo.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-7c0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7c0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630781823136:ios:99844cd791e724e0bae1c5</string>
	<key>DATABASE_URL</key>
	<string>https://chat-7c0e6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>